html,
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Twitter {
  width: 200px;
  height: 200px;
  .bg {
    fill: #58B5E9;
    stroke: #2455D3;
    stroke-width: 2px;
    fill-opacity: 0;
    stroke-dasharray: 336px;
    stroke-dashoffset: 336px;
    transition: stroke-dashoffset 350ms ease-in, fill-opacity 350ms;
    transition-delay: 300ms, 270ms;

  }
  .bird {
    fill: #F1F2F2;
    stroke: #2455D3;
    stroke-width: 2px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 350ms, transform 350ms;
    transition-delay: 50ms, 0;

  }
  &.active {
    .bg {
      fill: #58B5E9;
      stroke: #2455D3;
      stroke-width: 2px;
      fill-opacity: 1;
      stroke-dashoffset: 0;
      transition: stroke-dashoffset 350ms ease-out, fill-opacity 350ms;
      transition-delay: 0, 350ms;

    }
    .bird {
      fill: #F1F2F2;
      stroke: #2455D3;
      stroke-width: 2px;
      opacity: 1;
      transform: translateY(0);
      transition: opacity 350ms, transform 350ms;
      transition-delay: 300ms, 270ms;

    }
  }
}
